/BoundedTypeOfGenericMethod.class
/A.class
/B$BoundedTypeOfGenericMethod.class
/B.class
/MyInterface$BoundedTypeOfGenericMethod.class
/MyInterface.class
/BoundedTypeOfGenericMethod$1.class
/C.class
/BoundedTypeOfGenericMethod$2.class
/D.class
