/OOP_VS_FP.class
/A$OOP_VS_FP.class
/A.class
/B$OOP_VS_FP.class
/B.class
/OOP_VS_FP$1.class
/FunctionToLambdaExpression.class
/Aa.class
/Bb.class
/Cc.class
/Dd.class
/FunctionToLambdaExpression$1.class
/FunctionToLambdaExpression$2.class
/FunctionToLambdaExpression$3.class
/FunctionToLambdaExpression$4.class
