/GenericMethod.class
/Genericmethod$GenericMethod.class
/Genericmethod.class
/Genericmethod2.class
/Genericmethod2$GenericMethod.class
/AvailableMethodinGenericMethod.class
/A.class
/A$AvailableMethodinGenericMethod.class
