/FloatVsDouble.class
/NamingVariableAndConstant.class
/OperationBetweenDataType.class
/PrimaryDataType_1.class
/PrimaryDataType_2.class
/RangeOfVariableUse.class
/TypeCasting_1.class
/TypeCasting_2.class
/UsageOfDataType.class
