/Fruit_Test.class
/fruit$Fruit_Test.class
/fruit.class
/Fruit$Fruit_Test.class
/Fruit.class
/Apple$Fruit_Test.class
/Apple.class
/Orange$Fruit_Test.class
/Orange.class
/Banana$Fruit_Test.class
/Banana.class
/Apple$Banana.class
/Apple$Orange.class
