/TreeMapMethod_1.class
/TreeMapMethod_2.class
/MyClass$TreeMapMethod_2.class
/MyClass.class
/MyComparable$TreeMapMethod_2.class
/MyComparable.class
/MyComparableClass$TreeMapMethod_2.class
/MyComparableClass.class
/TreeMapMethod_2$1.class
/MapSummary.class
