/ConsoleInputObject.class
/ConsoleInputObject_1.class
/ConsoleInputObject_2.class
/ConsoleInputObject_3.class
/ConsoleOutputObject_1.class
/ConsoleOutputObject_2.class
/Ex06_ConsoleInputOutputObject.class
/Ex06_ConsoleInputOutputObject2.class
